@primary: #3498db;
@lightBlue: #3fd1cb;
@yellow: #f9e75e;

.app {
  min-width: 100vw;
  min-height: 100vh;
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h3 {
    color: @primary;
    font-size: 24px;
    margin-bottom: 30px;

    &.title {
      font-size: 32px;
    }
  }

  & button {
    background: @yellow;
    border: none;
    height: 60px;
    width: 240px;
    font-size: 18px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    color: @primary;
    border-radius: 100px;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;

    &.outline {
      background-color: transparent;
      box-shadow: none;
      border: 1px solid @primary;
      color: @primary;
      border-radius: 4px;
    }

    &:hover {
      transform: scale(1.1);
      opacity: 0.95;
    }

    &.logout {
      font-size: 14px;
      height: 30px;
      width: 80px;
      margin: 5px 0;
      margin-top: 10px;
      opacity: 0.9;

      &:hover {
        opacity: 0.95;
        transform: scale(1);
      }
    }
  }

  & .login {
    width: 100vw;
    height: 100vh;
    background: url("http://smalldata.io/img/homepage.jpg");
    background-size: cover;

    & h3 {
      color: #c2c2c2;

      & span {
        color: #fff;
      }
    }

    & .overlay {
      background: rgba(0, 0, 0, 0.4);
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & h3 {
        margin-bottom: 12px;
      }

      & p {
        color: #fff;
        margin: 0 0 32px;
        font-size: 18px;

        & span {
          font-weight: bold;
          color: @yellow;
        }
      }
    }
  }

  & .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("http://smalldata.io/img/homepage.jpg");
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;

    & .overlay {
      background: rgba(0, 0, 0, 0.4);
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
      margin-bottom: 5px;
    }

    & p {
      font-size: 16px;

      &.sub {
        opacity: 0.4;
        margin-bottom: 25px;

        &.on-overlay {
          color: rgba(255, 255, 255, 0.85);
        }
      }
    }
  }

  & .config-button {
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
    color: @lightBlue;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 20px;

  & input {
    width: 240px;
  }

  & .x {
    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
  }

  & .confirm {
    width: 160px;
    margin-top: 30px;
  }
}

.full-report {
  width: 720px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;

  & .left {
    width: 450px;

    & .action {
      align-items: flex-start;

      & p {
        margin-bottom: 12px;
      }
    }

    & form {
      width: 100%;
      display: flex;
      flex-direction: column;

      & input[type="text"] {
        width: 100%;
        height: 24px;
        font-size: 14px;
        outline: 0;
        border: none;
        padding-left: 5px;
        color: @primary;
      }

      & input[type="submit"] {
        width: 80px;
        margin-top: 10px;
      }
    }
  }

  & .right {
    width: 250px;
    height: 460px;

    &.report-box {
      justify-content: flex-start;
    }
  }
}

.report-box {
  box-sizing: border-box;
  padding: 30px 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  & h4 {
    font-size: 16px;
    margin: 0;
    width: 100%;
    font-weight: 600;
  }

  & p.sub {
    font-size: 14px;
  }

  & button {
    width: 100px;
    height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    cursor: pointer;

    &:hover {
      transform: scale(1);
    }
  }

  & .history {
    padding: 0;
    margin: 5px 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    & li {
      margin: 8px 0;
      list-style: none;
      padding-left: 0;

      & .sug-send {
        font-size: 12px;
        opacity: 0.4;
        margin-bottom: -3px;
      }

      & .sug-time {
        width: fit-content;
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 6px;
        margin-left: 12px;
        font-size: 12px;
        padding: 1px 2px;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }

      & .sug-title {
        font-weight: bold;
        color: #333;
        position: relative;
        width: fit-content;
      }
    }
  }
}

.report {
  width: 450px;
  min-height: 150px;
  margin-bottom: 18px;

  & p {
    color: #333;
  }

  & .time-picker {
    margin-top: 20px;

    & p.sub {
      margin-bottom: 5px;
    }
  }

  & ul {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;

    & li {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;

      & span {
        font-size: 12px;
        margin-left: 5px;
        letter-spacing: -0.3;
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  h3 {
    width: 100%;
    color: @primary;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 5px 0;

    & div {
      border: 1px solid @primary;
      border-radius: 100px;
      margin: 7px 0;
      margin-right: 10px;
      padding: 10px 15px;

      & span {
        font-size: 12px;
        margin-left: 5px;
        letter-spacing: -0.3;
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}

.info {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    width: 450px;

    & > span {
      margin-right: 40px;
      width: 24px;
      height: 24px;
      font-size: 14px;
      border-radius: 50%;
      background-color: @lightBlue;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }

    & > p > span {
      color: @lightBlue;
    }
  }
}

.people {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;

  & > .members {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 30px;

      & > div {
        height: 120px;
        width: 120px;
        border-radius: 50%;
      }

      & > h4 {
        margin-bottom: 0;
      }

      & > p {
        margin: 0;
        font-size: 12px;
        opacity: 0.8;
      }
    }
  }
}

.footer {
  height: 40px;
  width: 100vw;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.categoryContainer {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoryRow {
  width: 800px;
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
}

.subCategoryContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  & label {
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 3px;
  }
}

.onboardingBtn {
  height: 40px;
  width: 280px;
  background-color: rgb(255, 208, 0);
  opacity: 0.8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}

.categoryCard {
  display: flex;
  height: 150px;
  width: 230px;
  background-color: white;
  opacity: 0.6;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
